<!DOCTYPE html>
<html>

</html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="ICON" href="/project/static/css/favicon.ico" type="image/ico" />
    <title>CREDIBLE</title>
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>

    <a href="{{ url_for('main.index') }}">
        <h1>CREDIBLE</h1>
    </a>
    <a id="indexNav" href="{{ url_for('main.index') }}" class="btn">
        Home
    </a>
    {% if current_user.is_authenticated %}
    <a id="profileNav" href="{{ url_for('main.profile') }}" class="btn">
        Profile
    </a>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <a id="loginNav" href="{{ url_for('auth.login') }}" class="btn">
        Login
    </a>
    <a id="signupNav" href="{{ url_for('auth.signup') }}" class="btn">
        Sign Up
    </a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a id="logoutNav" href="{{ url_for('auth.logout') }}" class="btn">
        Logout
    </a>
    {% endif %}

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <p style="text-align:left; color:white">&copy;2020 CREDIBLE CAPSTONE-II Project.All rights reserved. </p>
    </div>
</body>

</html>