body{
    font-family: Arial, Helvetica, sans-serif;
}

.custom-navbar{
    background-color: #15376d !important;
    padding: 10px;
}
.navbar-brand{
    color: white !important;
    font-size:xx-large;
    font-weight: bold;
}
.navbar-brand:hover{
    color: white;
}
.links-table {
    border-collapse:separate; 
    border-spacing: 1em;
}
.links-table-text{
    font-size: large;
    text-decoration: none !important;
    color: rgb(162, 188, 236);
}
.links-table-text:hover{
    font-size: large;
    color: rgb(252, 252, 252);
}
.navbar-form-table{
    border-collapse:separate; 
    border-spacing: 1em; 
}
.nav-list{
    list-style: none;
    margin-left: 300px;
}
#searchbar{
    border-radius: 25px;
    padding: 13px 50px;
}
.search-icon{
    font-size: x-large;
    margin: 5px;
    color: white;
}

.align-top{
    position: absolute;
    top: 20px;
    right: 300px;
    /* border: 3px solid green; */
}
.nav-link{
    font-size: x-large;
    font-weight: bold;
    color: white !important;
}
/* Side Navbar */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 2px 0px 10px rgb(0, 0, 0);
} 
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
} 
.sidenav a:hover {
    color: #f1f1f1;
} */

/* Index.html */
.form-card{
    background-color: rgba(232, 232, 232, 0.172);
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.487);
}
.form-head>div>h3{
    font-size: x-large;
    font-weight: bold;
}
hr{
    background-color: #15376d;
}

/* Results html */
/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
 .circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  /**
   * 1. Rotate by -90 degree to make the starting point of the
   *    stroke the top of the circle.
   * 2. Scaling mirrors the circle to make the stroke move right
   *    to mark a positive chart value.
   * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
   *    and Edge, use the transform attribute directly on the SVG element as a
   * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
   */
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Layout styles only, not needed for functionality */
  html {
    font-family: sans-serif;
    padding-right: 1em;
    padding-left: 1em;
  }
  
  .grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
  
  @media (min-width: 31em) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }