hr{
  background-color: gray;
}

.bg-custom{
  background-color: rgb(250, 250, 250) !important;
  padding-left: 40px;
}

.padding-custom{
  padding:60px;
}
.custom-hr{
  background-color: lavender;
}

.BlackMe{
  background: linear-gradient(to bottom, #ffffff 49%, #f6f4d5 100%)!important;
}

.bg-image{
  background-image: url(./background.svg) !important;
}