hr{
  background-color: gray;
}

.bg-custom{
  background-color: rgb(250, 250, 250) !important;
  padding-left: 40px;
}

.padding-custom{
  padding:60px;
}
.custom-hr{
  background-color: lavender;
}

.BlackMe{
  background: linear-gradient(to bottom, #ffffff 49%, #f6f4d5 100%)!important;
}

.bg-image{
  background-image: url(./background.svg) !important;
}

* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background: rgb(10, 24, 19) !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2)!important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2)!important;
  padding:40px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

h1{
  color:#c0c0c0;
  font-size:79px;
  padding-bottom:20px;
  }

.btn{
color:white;
background:rgba(0, 0, 0, 0.5);
padding:10px 20px;
font-size:12px;
text-decoration:none;
letter-spacing:2px;
text-transform:uppercase;
}

.btn:hover{
border:none;
background:rgba(36, 35, 35, 0.4);
background:#fff;
padding:20px 20px; 
color:#1b1b1b;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("Preloader_7.gif") center no-repeat rgb(255, 255, 255);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con2 {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("Preloader_7.gif") center no-repeat rgb(255, 255, 255);
}