{% extends "bootstrap/base.html" %}

{% block title %}
Credit Risk Analysis 
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Credit Risk Analysis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="active"><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Credit Risk Analysis</h1>
        <p class="lead"><br>Make your dreams come true the right way</p>
        <a href="{{ url_for('login') }}">
          <button class="button" style="width:120px; height:34px ;background-color:rgb(0, 162, 255); color:white">
            Log In
          </button>
        </a>
        <a href="{{ url_for('signup') }}">
          <button class="button" style="width:120px; height:34px ;background-color:rgb(0, 162, 255);  color:white">
            Sign Up
          </button>
        </a>
      
      </div>

    </div><!-- /.container -->
{% endblock %}

